<nav class="navbar">
    <!-- Left side  -->
    <div class="nav-left">
      <!-- Name/Logo -->
      <a href="#home" class="logo portfolio-link" (click)="onPortfolioClick()">Portfolio</a>
    </div>
  
    <!-- Center: Navigation links -->
    <ul class="nav-center">
      <li><a href="#home">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  
    <!-- Right: Social Icons -->
    <div class="nav-right">
      <a href="https://www.facebook.com/fallenaspen" target="_blank">
        <img src="assets/icons/facebook.png" alt="Facebook">
      </a>
      <a href="https://www.linkedin.com/in/thatashishbhatt/" target="_blank">
        <img src="assets/icons/linkedin.png" alt="LinkedIn">
      </a>
      <a href="https://github.com/zzzastro" target="_blank">
        <img src="assets/icons/github.png" alt="GitHub">
      </a>
    </div>
  </nav>
  